name: diary_account_book
description: A new Flutter project.

publish_to: 'none'


version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.3
  flutter_screenutil: ^2.3.1
  provider: ^4.3.2+2
  event_bus: ^1.1.1
  carousel_slider: ^2.2.1
  fluro: ^1.6.3
  flutter_easyloading: ^2.0.1
  shared_preferences: ^0.5.12+4
  
dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/
